header.header
  .container-fluid
    .row.align-items-center
      .col-3
        .inner-logo
          a(href=`${prefixAdmin}/dashboard` class="class=font-weight-bold") TIỆM TẠP HÓA 
          

      .col-9
        div(class="text-right")
          a(
            href=`/admin/auth/logout`
            class="btn btn-danger btn-sm"
          ) Đăng xuất

